In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
postAmps = pd.read_csv('data.csv')
preAmps = pd.read_csv('data-antes.csv')

In [3]:

# temp = data[['time', 'temp']]

postAmps.head()

                   time     amps
0  02/01/19 12:05:30 PM  37.0779
1  02/01/19 12:06:30 PM  37.9644
2  02/01/19 12:07:30 PM  38.0591
3  02/01/19 12:08:30 PM  38.4253
4  02/01/19 12:09:30 PM  38.0819

In [6]:
preAmps.head()

                time     amps  on
0  01/11/19 09:52 AM  38.4268   1
1  01/11/19 09:53 AM  38.3230   1
2  01/11/19 09:54 AM  38.2422   1
3  01/11/19 09:55 AM  38.6145   1
4  01/11/19 09:56 AM  38.3078   1

In [8]:
postAmps = postAmps.dropna()

In [ ]:

# temp = temp.dropna()

In [9]:
postAmps = postAmps.sort_index()
preAmps = preAmps.sort_index()
# temp = temp.sort_index()
# temp.head()


postAmps.head()

                   time     amps
0  02/01/19 12:05:30 PM  37.0779
1  02/01/19 12:06:30 PM  37.9644
2  02/01/19 12:07:30 PM  38.0591
3  02/01/19 12:08:30 PM  38.4253
4  02/01/19 12:09:30 PM  38.0819

In [10]:
def onOrOff (row):
    if row['amps'] < 1:
        return 0
    else:
        return 1

postAmps['on'] = postAmps.apply(lambda row: onOrOff(row), axis=1)

postAmps.head()

                   time     amps  on
0  02/01/19 12:05:30 PM  37.0779   1
1  02/01/19 12:06:30 PM  37.9644   1
2  02/01/19 12:07:30 PM  38.0591   1
3  02/01/19 12:08:30 PM  38.4253   1
4  02/01/19 12:09:30 PM  38.0819   1

In [16]:
preAmps.head()

                time     amps  on
0  01/11/19 09:52 AM  38.4268   1
1  01/11/19 09:53 AM  38.3230   1
2  01/11/19 09:54 AM  38.2422   1
3  01/11/19 09:55 AM  38.6145   1
4  01/11/19 09:56 AM  38.3078   1

In [17]:
preAmps.tail()

                    time     amps  on
10170  01/18/19 11:22 AM  38.5809   1
10171  01/18/19 11:23 AM  38.2650   1
10172  01/18/19 11:24 AM  38.5687   1
10173  01/18/19 11:25 AM  38.7320   1
10174  01/18/19 11:26 AM  38.4588   1

In [12]:
preAmps.to_csv('preAmps.csv')
postAmps.to_csv('postAmps.csv')

# temp.to_csv('temp.csv')

In [20]:
preAmps.describe()

               amps            on
count  10175.000000  10175.000000
mean      31.008181      0.826732
std       14.219178      0.378497
min        0.015300      0.000000
25%       36.030350      1.000000
50%       37.094700      1.000000
75%       38.274200      1.000000
max       39.900800      1.000000

In [21]:
postAmps.describe()

              amps           on
count  4260.000000  4260.000000
mean     30.550238     0.819249
std      14.366239     0.384857
min       0.021400     0.000000
25%      35.684325     1.000000
50%      37.096200     1.000000
75%      37.825600     1.000000
max      40.148000     1.000000

In [ ]:
airOn['time'] = pd.to_datetime(airOn['time'])

In [ ]:
airOn = airOn.set_index('time')

In [ ]:
morning = airOn.between_time('08:00', '19:59:59')
afternoon = airOn.between_time('20:00', '7:59:59')

In [ ]:
morning.describe()

In [ ]:
afternoon.describe()

In [ ]:
sns.set_style('whitegrid')

In [ ]:
sns.distplot(morning['amps'], kde=False, bins=100)

In [ ]:
sns.distplot(afternoon['amps'], kde=False, bins=100)

In [ ]:
from matplotlib.pyplot import figure
figure(figsize=(20, 10), dpi=500, facecolor='w', edgecolor='k')

In [ ]:
sns.lineplot(data=morning)

In [ ]:
sns.lineplot(data=afternoon)